/*scss*/
$fuente: 'Open Sans', sans-serif;
$colorPrimario: #b0b3b7;
$bordes : 2px #000000 solid;
$boxshadow :1px 1px 1px #1c1a19;
div{
    height: 100px;
    font-family: $fuente;
    background-color: $colorPrimario;
}

*{
    box-sizing: border-box;
}
main,header,nav,main section,footer,nav div{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
}


main section div,main section h2,footer div,main section form,.area12{
    grid-column: 1/13;
}

header h1
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
}

header h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
/* section */
section {
  grid-column: 3 / 13; }

.section {
  background: lightgrey;
  border: black solid 1px;
  grid-column: 1 / 13;
  display: flex;
  grid-template-columns: repeat(12, 1fr);
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }

.ele {
  width: 20%;
  height: 100px;
  margin: 15px 15px 15px 35px;
  background-color: white;
  border: black solid 1px;
  box-shadow: 0px 4px 4px 0px black; }

.elefoto {
  width: 20%;
  height: 250px;
  margin: 15px 15px 15px 35px;
  background-color: white;
  border: black solid 1px;
  box-shadow: 0px 4px 4px 0px black; }

/* Nav */
.main-nav ul  {
    background:black;
    width:100%;
}

.main-nav ul li{
     display:inline-block;
     text-align: center;
     margin-left:15px;


}

.main-nav ul {
     float:right;
     background:lightgrey;
     text-align:right;
     height:40px;

}

/* logo */

.log{
    float:left;
}
  .nav {
    height: 50px;
    width: 100%;
    background-color: #174873;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
    grid-column: 1/3;
  }
  
  .nav > .nav-header > .title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
    grid-column: 4/13;
  }
  
  .nav > .nav-links {
    grid-column: 4/13;
    display: flex;
    font-size: 18px;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }


/* footer */

footer div{
    height:100px;
    background-color: #174873;
    text-align: center;
    width:100%;
    flex-shrink: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
